* {
  box-sizing: border-box;
}
body {
  font-family: tahoma;
  color: #333;
}
.main-head {
  font-size: 24px;
  margin-top: 120px;
  margin-bottom: 80px;
}
.main-head strong {
  font-weight: 900;
  line-height: 1.5;
}
.form {
  border: 5px solid #2727d9;
  padding: 30px 15px;
}
.form input {
  margin-bottom: 10px;
}
.twohead {
  font-size: 24px;
  margin-top: 150px;
  margin-bottom: 80px;
  font-weight: 900;
  line-height: 1.5;
}
.form-name {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 20px;
}
.featers {
  margin-bottom: 100px;
}
.sectiontree img {
  margin-bottom: 30px;
}
